html,body {
    background-color: aliceblue;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}
#navbar {
    background-color: #4D6D9A;
    height: 3.5rem;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}
#register-title {
    color: #4D6D9A;
    text-align: center;
}
.nav-title {
    float: left;
    padding: 10px;
    border: none;
    font-weight: bold;
    background-color: #4D6D9A;
    color: white;
    margin: 15px 15px;
    text-decoration: none;
    font-size: 20px;
}
.nav-login {
    float: right;
    padding: 8px;
    border: none;
    background-color: #4D6D9A;
    color: white;
    margin: 15px;
    text-decoration: none;
    border: 1px solid aliceblue;
}

.stack-informative {
    background-color: #4D6D9A;
    padding: 5px;
    width: 55%;
    height: 25rem;
    float: left;
    text-align: center;
    
}
.stack-form-register {
    float: right;
    width: 40%;
    margin-top: 45px;
   
}
.stack-form-login {
    float: right;
    width: 40%;
    margin-top: 60px;
    padding-top: 50px;
   
}
.stack-fluid {
    width: 91%;
    margin-top: 10px;
    
}
.stack-semi-fluid {
    width: 45%; 
    
}
.stack-btn-register {
    background-color: #4D6D9A;
    color: white;
    width: 30%;
    height: 40px;
    margin-top: 15px;
    margin-left: 35%;
    border: none;
}
.stack-btn-submit {
    background-color: #4D6D9A;
    color: white;
    width: 20%;
    height: 40px;
    margin-top: 15px;
    margin-left: 45px;
    border: none;
}
.stack-container {
    clear: both;
    min-height: 100%;
}
.stack-container-home {
    clear: both;
    min-height: 100%;
    margin-top: 70px;
}
.stack-container-info {
    border-bottom: 2px solid black;
    padding: 5px;
   
}
.stack-sidebar {
    background-color: aliceblue;
    text-align: center;
    width: 20%;
    position: fixed;
    z-index: 1;
    top : 20;
    overflow-x: hidden;
}
.stack-sidebar ul {
    list-style-type: none;
}
.stack-sidebar li {
    margin-top: 1.5rem;
}
.stack-sidebar a {
    color: #4D6D9A;
    text-decoration: none;
    display: block;
}
.stack-jumbo {
    color: #4D6D9A;
    font-weight: bold;
    float: right;
    width: 79%;
    min-height: 50rem;
    height: 100%;
    background-color: white;
    
}
.stack-jumbo a {
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: #4D6D9A;
}
#stack-link-post {
    margin-top: 20px;
    margin-left: 40px;
    text-decoration: none;
    color: #4D6D9A;
}
.stack-jumbo h2, h3 {
    color:black; 
    padding: 5px;
    margin-left: 15px;
}
.stack-footer {
    clear: both;
    background-color: #4D6D9A;
    color: white;
    height: 5rem;
    text-align: center;
}
.stack-footer p {
    padding-top: 40px;
    font-weight: bold;
}
.stack-block {
    display: block;
}
input {
    border: 0;
    height: 2rem;
}
.stack-divide {
    clear: both;
}
.stack-divide hr {
    color: navy;
}
.clearfix {
    overflow: auto;
}
.stack-rule {
    color:white;
    border: none; 
    background-color: aliceblue;
}
.stack-post {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 15px;
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
    height: 8rem;
    width: 50%;
}
.stack-home-post {
    padding: 10px 0px;
    width: 100%;
    border-bottom: 1px solid rgb(122, 141, 158);
}
